<meta charset="utf-8"/>
<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#fff"/>
<meta name="format-detection" content="telephone=no"/>
{% include "./_favicons.html" %}
<link rel="manifest" href="img/favicons/site.webmanifest">
<link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="">
<meta name="msapplication-TileColor" content="">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" media="all" href="css/app.css?v={{ version }}"/>
{% include "./_media-tags.html" %}