//Fonts=============================================
$font-primary: "";
$font-secondary: "";
//Colors=============================================
$accent-color: "";
$title-color: "";
$text-color: "";
$bg-color: "";

//--------Grid------------
$maxWidthContainer: 1920;
$minWidth: 320px;
//--------Grid------------